---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/CharacterSheet.xml.aspx?keyID=MyString&vCode=MyString
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-18 15:59:58</currentTime>\r\n  <error code=\"106\">Must
        provide userID or keyID parameter for authentication.</error>\r\n  <cachedUntil>2013-03-19
        03:59:58</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 18 Mar 2013 15:59:58 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/char/CharacterSheet.xml.aspx?keyID=1878387&vCode=N918tK4e6MH1D6R61JjPuyxsylg9o2TIrdtuAK6mwhNW3zWy1KTZH7946jY2aV1L
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-29 14:47:21</currentTime>\r\n  <result>\r\n    <characterID>1563535266</characterID>\r\n
        \   <name>Mrkt Obsrvr</name>\r\n    <DoB>2008-10-02 03:32:00</DoB>\r\n    <race>Minmatar</race>\r\n
        \   <bloodLine>Vherokior</bloodLine>\r\n    <ancestry>Retailers</ancestry>\r\n
        \   <gender>Male</gender>\r\n    <corporationName>Pator Tech School</corporationName>\r\n
        \   <corporationID>1000172</corporationID>\r\n    <cloneName>Clone Grade Alpha</cloneName>\r\n
        \   <cloneSkillPoints>900000</cloneSkillPoints>\r\n    <balance>0.57</balance>\r\n
        \   <attributeEnhancers />\r\n    <attributes>\r\n      <intelligence>20</intelligence>\r\n
        \     <memory>25</memory>\r\n      <charisma>23</charisma>\r\n      <perception>16</perception>\r\n
        \     <willpower>15</willpower>\r\n    </attributes>\r\n    <rowset name=\"skills\"
        key=\"typeID\" columns=\"typeID,skillpoints,level,published\">\r\n      <row
        typeID=\"25235\" skillpoints=\"250\" level=\"1\" published=\"1\" />\r\n      <row
        typeID=\"3300\" skillpoints=\"250\" level=\"1\" published=\"1\" />\r\n      <row
        typeID=\"3302\" skillpoints=\"1415\" level=\"2\" published=\"1\" />\r\n      <row
        typeID=\"3327\" skillpoints=\"250\" level=\"1\" published=\"1\" />\r\n      <row
        typeID=\"3329\" skillpoints=\"2829\" level=\"2\" published=\"1\" />\r\n      <row
        typeID=\"3348\" skillpoints=\"45255\" level=\"4\" published=\"1\" />\r\n      <row
        typeID=\"3355\" skillpoints=\"8000\" level=\"3\" published=\"1\" />\r\n      <row
        typeID=\"3356\" skillpoints=\"16000\" level=\"3\" published=\"1\" />\r\n      <row
        typeID=\"3357\" skillpoints=\"45255\" level=\"4\" published=\"1\" />\r\n      <row
        typeID=\"3386\" skillpoints=\"250\" level=\"1\" published=\"1\" />\r\n      <row
        typeID=\"3413\" skillpoints=\"8000\" level=\"3\" published=\"1\" />\r\n      <row
        typeID=\"3416\" skillpoints=\"8000\" level=\"3\" published=\"1\" />\r\n      <row
        typeID=\"3426\" skillpoints=\"250\" level=\"1\" published=\"1\" />\r\n      <row
        typeID=\"3431\" skillpoints=\"8000\" level=\"3\" published=\"1\" />\r\n      <row
        typeID=\"3443\" skillpoints=\"256000\" level=\"5\" published=\"1\" />\r\n
        \     <row typeID=\"3444\" skillpoints=\"90510\" level=\"4\" published=\"1\"
        />\r\n      <row typeID=\"3446\" skillpoints=\"2829\" level=\"2\" published=\"1\"
        />\r\n      <row typeID=\"3449\" skillpoints=\"8000\" level=\"3\" published=\"1\"
        />\r\n      <row typeID=\"3450\" skillpoints=\"1415\" level=\"2\" published=\"1\"
        />\r\n      <row typeID=\"3451\" skillpoints=\"500\" level=\"1\" published=\"1\"
        />\r\n      <row typeID=\"3455\" skillpoints=\"250\" level=\"1\" published=\"1\"
        />\r\n      <row typeID=\"16595\" skillpoints=\"256000\" level=\"5\" published=\"1\"
        />\r\n      <row typeID=\"21059\" skillpoints=\"500\" level=\"1\" published=\"1\"
        />\r\n    </rowset>\r\n    <rowset name=\"certificates\" key=\"certificateID\"
        columns=\"certificateID\" />\r\n    <rowset name=\"corporationRoles\" key=\"roleID\"
        columns=\"roleID,roleName\" />\r\n    <rowset name=\"corporationRolesAtHQ\"
        key=\"roleID\" columns=\"roleID,roleName\" />\r\n    <rowset name=\"corporationRolesAtBase\"
        key=\"roleID\" columns=\"roleID,roleName\" />\r\n    <rowset name=\"corporationRolesAtOther\"
        key=\"roleID\" columns=\"roleID,roleName\" />\r\n    <rowset name=\"corporationTitles\"
        key=\"titleID\" columns=\"titleID,titleName\" />\r\n  </result>\r\n  <cachedUntil>2013-03-29
        14:56:23</cachedUntil>\r\n</eveapi>"
  recorded_at: Fri, 29 Mar 2013 14:47:26 GMT
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1878387&vCode=N918tK4e6MH1D6R61JjPuyxsylg9o2TIrdtuAK6mwhNW3zWy1KTZH7946jY2aV1L
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-29 14:47:22</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-03-29 14:47:22</currentTQTime>\r\n    <skillInTraining>0</skillInTraining>\r\n
        \ </result>\r\n  <cachedUntil>2013-03-29 15:21:44</cachedUntil>\r\n</eveapi>"
  recorded_at: Fri, 29 Mar 2013 14:47:27 GMT
[...]
