---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-04 14:37:52</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-03-04 14:37:52</currentTQTime>\r\n    <trainingEndTime>2013-03-06
        22:04:00</trainingEndTime>\r\n    <trainingStartTime>2013-03-03 11:16:40</trainingStartTime>\r\n
        \   <trainingTypeID>19767</trainingTypeID>\r\n    <trainingStartSP>40000</trainingStartSP>\r\n
        \   <trainingDestinationSP>226275</trainingDestinationSP>\r\n    <trainingToLevel>4</trainingToLevel>\r\n
        \   <skillInTraining>1</skillInTraining>\r\n  </result>\r\n  <cachedUntil>2013-03-04
        15:01:22</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 04 Mar 2013 14:37:52 GMT
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-04 14:37:52</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-03-04 14:37:52</currentTQTime>\r\n    <trainingEndTime>2013-03-06
        22:04:00</trainingEndTime>\r\n    <trainingStartTime>2013-03-03 11:16:40</trainingStartTime>\r\n
        \   <trainingTypeID>19767</trainingTypeID>\r\n    <trainingStartSP>40000</trainingStartSP>\r\n
        \   <trainingDestinationSP>226275</trainingDestinationSP>\r\n    <trainingToLevel>4</trainingToLevel>\r\n
        \   <skillInTraining>1</skillInTraining>\r\n  </result>\r\n  <cachedUntil>2013-03-04
        15:01:22</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 04 Mar 2013 14:37:52 GMT
recorded_with: VCR 2.4.0
