---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1878387&vCode=N918tK4e6MH1D6R61JjPuyxsylg9o2TIrdtuAK6mwhNW3zWy1KTZH7946jY2aV1L
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-02-28 17:35:43</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-02-28 17:35:43</currentTQTime>\r\n    <skillInTraining>0</skillInTraining>\r\n
        \ </result>\r\n  <cachedUntil>2013-02-28 18:31:09</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 28 Feb 2013 17:35:43 GMT
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1878387&vCode=N918tK4e6MH1D6R61JjPuyxsylg9o2TIrdtuAK6mwhNW3zWy1KTZH7946jY2aV1L
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-02-28 17:35:43</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-02-28 17:35:43</currentTQTime>\r\n    <skillInTraining>0</skillInTraining>\r\n
        \ </result>\r\n  <cachedUntil>2013-02-28 18:31:09</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 28 Feb 2013 17:35:44 GMT
recorded_with: VCR 2.4.0
