---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-29 14:47:06</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-03-29 14:47:06</currentTQTime>\r\n    <trainingEndTime>2013-03-29
        22:27:44</trainingEndTime>\r\n    <trainingStartTime>2013-03-29 09:32:57</trainingStartTime>\r\n
        \   <trainingTypeID>11083</trainingTypeID>\r\n    <trainingStartSP>4243</trainingStartSP>\r\n
        \   <trainingDestinationSP>24000</trainingDestinationSP>\r\n    <trainingToLevel>3</trainingToLevel>\r\n
        \   <skillInTraining>1</skillInTraining>\r\n  </result>\r\n  <cachedUntil>2013-03-29
        15:38:20</cachedUntil>\r\n</eveapi>"
  recorded_at: Fri, 29 Mar 2013 14:47:11 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/char/CharacterSheet.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-29 15:10:13</currentTime>\r\n  <result>\r\n    <characterID>1725191100</characterID>\r\n
        \   <name>Alba Tross</name>\r\n    <DoB>2008-03-04 13:54:00</DoB>\r\n    <race>Gallente</race>\r\n
        \   <bloodLine>Intaki</bloodLine>\r\n    <ancestry>Reborn</ancestry>\r\n    <gender>Female</gender>\r\n
        \   <corporationName>Dreddit</corporationName>\r\n    <corporationID>1018389948</corporationID>\r\n
        \   <allianceName>Test Alliance Please Ignore</allianceName>\r\n    <allianceID>498125261</allianceID>\r\n
        \   <cloneName>Clone Grade Sigma</cloneName>\r\n    <cloneSkillPoints>92500000</cloneSkillPoints>\r\n
        \   <balance>100981040.56</balance>\r\n    <attributeEnhancers />\r\n    <attributes>\r\n
        \     <intelligence>27</intelligence>\r\n      <memory>21</memory>\r\n      <charisma>17</charisma>\r\n
        \     <perception>17</perception>\r\n      <willpower>17</willpower>\r\n    </attributes>\r\n
        \   <rowset name=\"skills\" key=\"typeID\" columns=\"typeID,skillpoints,level,published\">\r\n
        \     <row typeID=\"26256\" skillpoints=\"135765\" level=\"4\" published=\"1\"
        />\r\n      <row typeID=\"11082\" skillpoints=\"135765\" level=\"4\" published=\"1\"
        />\r\n      <row typeID=\"3416\" skillpoints=\"45255\" level=\"4\" published=\"1\"
        />\r\n      <row typeID=\"16069\" skillpoints=\"512000\" level=\"5\" published=\"1\"
        />\r\n      <row typeID=\"28656\" skillpoints=\"2560000\" level=\"5\" published=\"1\"
        />\r\n      <row typeID=\"3427\" skillpoints=\"512000[...]
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-29 15:10:13</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-03-29 15:10:13</currentTQTime>\r\n    <trainingEndTime>2013-03-29
        22:27:44</trainingEndTime>\r\n    <trainingStartTime>2013-03-29 09:32:57</trainingStartTime>\r\n
        \   <trainingTypeID>11083</trainingTypeID>\r\n    <trainingStartSP>4243</trainingStartSP>\r\n
        \   <trainingDestinationSP>24000</trainingDestinationSP>\r\n    <trainingToLevel>3</trainingToLevel>\r\n
        \   <skillInTraining>1</skillInTraining>\r\n  </result>\r\n  <cachedUntil>2013-03-29
        15:38:20</cachedUntil>\r\n</eveapi>"
  recorded_at: Fri, 29 Mar 2013 15:10:13 GMT
recorded_with: VCR 2.4.0
