---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/CharacterSheet.xml.aspx?keyID=MyString&vCode=MyString
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-07 17:27:18</currentTime>\r\n  <error code=\"106\">Must
        provide userID or keyID parameter for authentication.</error>\r\n  <cachedUntil>2013-03-08
        05:27:18</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 07 Mar 2013 17:27:19 GMT
recorded_with: VCR 2.4.0
