---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-02-28 17:12:41</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-02-28 17:12:41</currentTQTime>\r\n    <trainingEndTime>2013-03-01
        13:55:06</trainingEndTime>\r\n    <trainingStartTime>2013-02-28 13:34:07</trainingStartTime>\r\n
        \   <trainingTypeID>3320</trainingTypeID>\r\n    <trainingStartSP>8000</trainingStartSP>\r\n
        \   <trainingDestinationSP>45255</trainingDestinationSP>\r\n    <trainingToLevel>4</trainingToLevel>\r\n
        \   <skillInTraining>1</skillInTraining>\r\n  </result>\r\n  <cachedUntil>2013-02-28
        17:24:42</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 28 Feb 2013 17:12:41 GMT
recorded_with: VCR 2.4.0
