---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillQueue.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-04 16:30:25</currentTime>\r\n  <result>\r\n    <rowset
        name=\"skillqueue\" key=\"queuePosition\" columns=\"queuePosition,typeID,level,startSP,endSP,startTime,endTime\">\r\n
        \     <row queuePosition=\"0\" typeID=\"20495\" level=\"3\" startSP=\"2829\"
        endSP=\"16000\" startTime=\"2013-03-04 16:25:50\" endTime=\"2013-03-05 01:02:20\"
        />\r\n      <row queuePosition=\"1\" typeID=\"19767\" level=\"4\" startSP=\"40000\"
        endSP=\"226275\" startTime=\"2013-03-05 01:02:20\" endTime=\"2013-03-07 06:40:31\"
        />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2013-03-04 17:25:51</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 04 Mar 2013 16:30:25 GMT
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?keyID=1867200&vCode=oReWk9nG5QutSKn03RINpBXajnDtU2egla3uTr4dLQDV4kVTeQodWgy1He7ECeU4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-03-04 16:30:26</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2013-03-04 16:30:26</currentTQTime>\r\n    <trainingEndTime>2013-03-05
        01:02:20</trainingEndTime>\r\n    <trainingStartTime>2013-03-04 16:25:50</trainingStartTime>\r\n
        \   <trainingTypeID>20495</trainingTypeID>\r\n    <trainingStartSP>2829</trainingStartSP>\r\n
        \   <trainingDestinationSP>16000</trainingDestinationSP>\r\n    <trainingToLevel>3</trainingToLevel>\r\n
        \   <skillInTraining>1</skillInTraining>\r\n  </result>\r\n  <cachedUntil>2013-03-04
        17:25:51</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 04 Mar 2013 16:30:26 GMT
recorded_with: VCR 2.4.0
